
ion-content{
    --background: aliceblue;
}

.icon{
    max-width: 32vh;
    display: block;
    margin: 0 auto;
}

ion-input, ion-item{
    --background: transparent;
}

.text-danger{
    color: #cf3c4f;
}